span{
    color: rgba(253, 110, 10, 1);
}

p , a , h1 , h2 , h3 , h4 , h5{
    font-family: 'Lato', sans-serif;
}

button{
    color: white;
    background-color: rgba(253, 110, 10, 1);
    border: 0px;
    padding: 10px 15px;
}

/* nav */

nav ul{
    display: inline-flex;
    position: absolute;
    right: 130px;
}

nav ul li{
    padding: 30px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

nav{
    display: inline-flex;
    justify-content: space-between;
}

nav h2{
    padding: 23px 30px 30px 40px;
}

/* section-1 */



.devloper-img{
    z-index: 10;
    padding: 5px 20px 10px 20px 
}